/* basic.css */
/* stylesheet för att lösa uppgift 3.3 */
/* target design: https://github.com/ps222nq/Uppgift-3-3/blob/master/IE7_hela.png */

/*Colors:

Body #FCFAF4
container border: #CECAB9;
Dark brown header: #51473D;
Content: #EAE7D2;
nav tabs + p text: #797066;
hyperlinks: #51473D;

Color picker:  http://html-color-codes.info/colors-from-image/
*/


/*Page Structure*/
/*--------------*/

body{
	background-color: #FCFAF4;
}

#container {
	width:600px;
	margin: 10px 20px 15px 10px;
	border: 1px solid #CECAB9;
}

#topbar {
	background-color: #51473D;
	color:#EAE7D2;
	padding:0.2em 0px;
}

#menu {
	margin:0px;
}

#menu>a{
	background-image: url('pics/coffey.jpg');
	background-repeat: no-repeat;
	height:200px;
	display: block;
	color:#EAE7D2;

	/*Make link disappear off left side, hide overflow so no scrollbar shows*/
	text-indent: -1000px;
	overflow:hidden;
}

#menu ul {
	background-color: #51473D;
	list-style: none;
	padding:0.3em 1em 0px 1em;
	margin:0px;
}

#menu li{
	display:inline-block;
	padding: 0.8em 1em;
	margin:0px;
	background-color: #797066;


	/*debug mode border: 1px solid white;*/
}

#menu .active {
	background-color:#EAE7D2;

}

#menu .active a {color:#51473D;}

#content {
	background-color:#EAE7D2;
	padding-top:2em;

}

#maincontent {
	padding:0px 10px;	
	width:55%;
	float:left;
}

#subcontent {
	padding: 0px 10px;
	border-left: 1px dashed #797066;
	width:35%;
	float:right;

}

#bottomcontent {
	clear:both;
	padding:1em;
}

/*Fonts and Typography*/
/*--------------------*/

body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #797066
}

h1,h2 {
	font-family: "Times New Roman", Times, serif;
}

h1 {font-size: 2em;}

h2{ 
	font-size: 1.1em;
	font-weight: lighter;
	color:#51473D;
	
}

a {
	color:#EAE7D2;
	text-decoration: none;
}

#subcontent li a {
	color:#51473D;
	text-decoration: underline;
	
}

#menu li:first-letter {
	text-transform: uppercase;
}



#subcontent p {
	line-height: 1.8;
	font-size: smaller;
}

#subcontent h1 {
	font-size:1.3em;
}

#bottomcontent {
	font-style: italic;
	font-size:x-small;
}

#topbar {
	text-align:right;
	font-style: italic;
	font-size:smaller;
}

/* Images */
/*--------*/

img {
	float:left;
	margin-right:5px;
}

/* Helper Classes */
/*----------------*/


